.paginationUl
{
    justify-content: center;
    margin-top: 40px;
}
.mainImg
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.Img
{
    width: 700px;
    height: 500px ;
}