<div class="container">
  <nav>
    <!-- Previous Button -->
    <ul class="pagination paginationUl">
      <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
        <a (click)="currentPage = currentPage - 1" class="page-link">Önceki</a>
      </li>
      <!-- Tekrarlanacak Item -->
      <ng-container *ngFor="let image of images; let i = index">
        <li
          class="page-item"
          [ngClass]="{ active: i === currentPage }"
          *ngIf="pageIndex(i)"
        >
          <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
        </li>
      </ng-container>

      <!-- Next Button -->
      <li
        class="page-item"
        [ngClass]="{ disabled: currentPage === images.length - 1 }"
      >
        <a (click)="currentPage = currentPage + 1" class="page-link">Sonraki</a>
      </li>
    </ul>
  </nav>

  <!-- Fotoğraf Açıklaması  -->
  <div class="mainImg">
    <h4 
    appTraining
    [backgroundColor]="'green'"
    [color]="'white'"  >
      {{ images[currentPage].title }}
    </h4>
    <img class="Img" [src]="images[currentPage].url" />
  </div>

  <!-- ng switch alıştırması -->
  <div [ngSwitch]="currentPage">
    <div *ngSwitchCase="0">İlk Sayfadasın !</div>
    <div *ngSwitchCase="1">İkinci Sayfadasın !</div>
    <div *ngSwitchCase="2">Üçüncü Sayfadasın !</div>
    <div *ngSwitchDefault>
      1 - 2 - 3 Sayfada değilsin !
      <span>{{ currentPage + 1 }} . sayfadasın</span>
    </div>
  </div>
</div>
